extends layout

block content
  .login-container
    h1 Change Password
    if error
      p.error-message= error
    form(method="post", action="/change-password")
      .form-group
        label(for="password") New password:
        input#password(type="password", name="password", required, placeholder="Enter new password")
      .form-group
        label(for="confirm") Confirm password:
        input#confirm(type="password", name="confirm", required, placeholder="Confirm new password")
      button.button-login(type="submit") Change Password
