extends layout

block content

style.
body {
      background-image: url('/public/images/makerspace.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  h1 Welcome to the app
  p This is the app UI.
  a(href="/machines") Click here to view the machines
