doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header.navbar
      img(src="/images/hpu-primary-color-400px.png") 
      h1 Makerspace Inventory
    block content
    
