extends layout

block content
  .login-container
    h1 Login
    
    if error
      p.error-message= error
    
    form.login-form(method="post", action="/login")
      .form-group
        label(for="email") Email:
        input#email(type="email", name="email", required, placeholder="Enter your work email")
      
      .form-group
        label(for="password") Password:
        input#password(type="password", name="password", required, placeholder="Enter password")
      
      button.button-login(type="submit") Login
    
    p
      a.button-nav(href="/") Back to Home
