extends layout

block content
  .logout-button-container
    a.button-schedule(href="/schedule") Schedule
    a.button-logout(href="/") Log out

  p
    a.button-nav(href="/machines") Back to Machines

  h2 Schedule

  p Schedule content will go here.
