extends layout

block content
  .logout-button-container
    a.button-logout(href="/") Log out
    // Admin Start Inventory and Schedule buttons (top right, below navbar)
    if isAdmin
        .start-inventory-container
        a.button-start-inventory(href="/start-inventory") Start Inventory
        a.button-schedule(href="/schedule") Schedule
  p
    a.button-nav(href="/machines") Back to Machines

  h2 Schedule

  p Schedule content will go here.
